body{
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Comic Sans MS";
  color: var(--gray90);
}

.content-container {
  max-width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button-container {
  align-self: center;
}

#author {
  align-self: flex-end;
}

.transition {
  transition: all 1.5s ease-in-out;
}

button {
  border-radius: 4px;
  padding: 4px;
  min-height: 40px;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 14px;
  background-color: red;
  color: white; 
}